[submodule "app/vendor/php-uikit"]
	path = app/vendor/php-uikit
	url = git@github.com:chobie/php-uikit.git
[submodule "app/vendor/twig"]
	path = app/vendor/twig
	url = https://github.com/fabpot/Twig.git
[submodule "app/vendor/Albino"]
	path = app/vendor/Albino
	url = git@github.com:chobie/Albino.git
[submodule "app/vendor/php-sdk"]
	path = app/vendor/php-sdk
	url = https://github.com/facebook/php-sdk.git
[submodule "app/vendor/Git_Util"]
	path = app/vendor/Git_Util
	url = git@github.com:chobie/Git_Util.git
[submodule "app/vendor/monolog"]
	path = app/vendor/monolog
	url = https://github.com/Seldaek/monolog.git
[submodule "app/vendor/VersionSorter"]
	path = app/vendor/VersionSorter
	url = git@github.com:chobie/VersionSorter.git
