<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<facebook>
		<appid>308497302504262</appid>
		<secret>2e9f5662995ac38b2e3bc5866d6740c8</secret>
	</facebook>
	<application>
		<domain>githq.org</domain>
		<url>http://githq.org</url>
		<git-storage>/home/git/repostiories</git-storage>
		<tempdir>/tmp/git/</tempdir>
	</application>
	<templating>
		<render>UIKit\Framework\Render\Twig</render>
	</templating>
	<logger>
		<class>\Monolog\Logger</class>
		<channel>githq</channel>
		<handler>\Monolog\Handler\FirePHPHandler</handler>
		<level>\Monolog\Logger::DEBUG</level>
	</logger>  
	<request>
	</request>
	<event></event>
</config>
