<?xml version="1.0" encoding="UTF-8" ?>
<routes>
  <route id="" pattern="/{user}/{repository}/issue_comments">
    <default key="controller">IssuesController</default>
    <default key="action">onIssueComments</default>
  </route>
  <route id="" pattern="/{user}/{repository}/issues">
    <default key="controller">IssuesController</default>
    <default key="action">onDefault</default>
  </route>
  <route id="" pattern="/{user}/{repository}/watch">
    <default key="controller">RepositoriesController</default>
    <default key="action">onWatch</default>
  </route>

  <route id="" pattern="/{user}/{repository}/issues/update">
    <default key="controller">IssuesController</default>
    <default key="action">onUpdate</default>
  </route>
  <route id="" pattern="/{user}/{repository}/pull/new">
    <default key="controller">PullRequestController</default>

    <default key="action">onNew</default>
  </route>
  <route id="" pattern="/{user}/{repository}/pull/new/{ref}">
    <default key="controller">PullRequestController</default>
    <default key="action">onNew</default>
  </route>
  <route id="" pattern="/{user}/{repository}/pull/{id,digit}">

    <default key="controller">PullRequestController</default>
    <default key="action">onPullRequest</default>
  </route>
  <route id="" pattern="/{user}/{repository}/pull/{id,digit}/files">
    <default key="controller">PullRequestController</default>
    <default key="action">onFiles</default>
  </route>

  <route id="" pattern="/{user}/{repository}/pull/{id,digit}/close">
    <default key="controller">PullRequestController</default>
    <default key="action">onClose</default>
  </route>
  <route id="" pattern="/{user}/{repository}/issues/new">
    <default key="controller">IssuesController</default>
    <default key="action">onNew</default>

  </route>
  <route id="" pattern="/{user}/{repository}/issues/edit/{id,digit}">
    <default key="controller">IssuesController</default>
    <default key="action">onEdit</default>
  </route>
  <route id="" pattern="/{user}/{repository}/issues/{id,digit}">
    <default key="controller">IssuesController</default>

    <default key="action">onIssue</default>
  </route>
  <route id="" pattern="/{user}/{repository}/zipball/{tag}">
    <default key="controller">RootController</default>
    <default key="action">onZipBall</default>
  </route>
  <route id="" pattern="/logout">

    <default key="controller">RootController</default>
    <default key="action">onLogout</default>
  </route>
  <route id="" pattern="/session">
    <default key="controller">RootController</default>
    <default key="action">onSession</default>
  </route>

  <route id="" pattern="/about">
    <default key="controller">RootController</default>
    <default key="action">onAbout</default>
  </route>
  <route id="" pattern="/account">
    <default key="controller">RootController</default>
    <default key="action">onAccount</default>

  </route>
  <route id="" pattern="/organizations/{organization,vars}">
    <default key="controller">OrganizationsController</default>
    <default key="action">onDefault</default>
  </route>
  <route id="" pattern="/organizations/{organization,vars}/repositories/new">
    <default key="controller">OrganizationsController</default>

    <default key="action">onNew</default>
  </route>
  <route id="" pattern="/account/organizations/{action,alpha,camel,prepend(on)}">
    <default key="controller">AccountController</default>
    <default key="action">onDefault</default>
  </route>
  <route id="" pattern="/account/{action,alpha,camel,prepend(on)}">

    <default key="controller">AccountController</default>
    <default key="action">onDefault</default>
  </route>
  <route id="" pattern="/connect">
    <default key="controller">RootController</default>
    <default key="action">onConnect</default>
  </route>

  <route id="" pattern="/{user}/{repository}/tags">
    <default key="controller">RootController</default>
    <default key="action">onTags</default>
  </route>
  <route id="" pattern="/{user}/{repository}/commits/{refs}/{path,greed}">
    <default key="controller">RootController</default>
    <default key="action">onCommitsHisotry</default>

  </route>
  <route id="" pattern="/{user}/{repository}/commits/{refs}">
    <default key="controller">RootController</default>
    <default key="action">onCommits</default>
  </route>
  <route id="" pattern="/{user}/{repository}/commit/{commit}">
    <default key="controller">RootController</default>

    <default key="action">onCommit</default>
  </route>
  <route id="" pattern="/{user}/{repository}/admin">
    <default key="controller">AdminController</default>
    <default key="action">onDefault</default>
  </route>
  <route id="" pattern="/{user}/{repository}/admin/delete">

    <default key="controller">AdminController</default>
    <default key="action">onDelete</default>
  </route>
  <route id="" pattern="/{user}/{repository}/admin/update">
    <default key="controller">AdminController</default>
    <default key="action">onUpdate</default>
  </route>

  <route id="" pattern="/{user}/{repository}/blame/{refs}/{path,greed}">
    <default key="controller">RootController</default>
    <default key="action">onBlame</default>
  </route>

  <route id="" pattern="/{user}/{repository}/blob/{refs}/{path,greed}">
    <default key="controller">RootController</default>
    <default key="action">onBlob</default>
  </route>
  <route id="" pattern="/{user}/{repository}/tree/{refs}/{path,greed}">
    <default key="controller">RootController</default>
    <default key="action">onTree</default>
  </route>
  <route id="" pattern="/{user}/{repository}.git/{path,greed}">
    <default key="controller">RootController</default>

    <default key="action">onDefault</default>
  </route>
  <route id="" pattern="/{user,vars}">
    <default key="controller">RootController</default>
    <default key="action">onUser</default>
  </route>
  <route id="" pattern="/">

    <default key="controller">RootController</default>
    <default key="action">onDefault</default>
  </route>
  <route id="" pattern="/{controller,vars,camel,append(Controller)}/{action,vars,camel,prepend(on),optional}">
    <default key="controller">RootController</default>
    <default key="action">default</default>
  </route>
</routes>