<?xml version="1.0" encoding="UTF-8" ?>
<routes>

  <route id="registration" pattern="/signup/free">
    <default key="controller">SignupController</default>
    <default key="action">onFree</default>
  </route>


<!--  upload-pack -->
  <route id="" pattern="/{user}/{repository}\.git/{path,greed}">
    <default key="controller">RepositoriesController</default>
    <default key="action">onTransport</default>
  </route>

<!--  /upload-pack -->

<!--  issues  -->
  <route id="" pattern="/{user}/{repository}/issue_comments">
    <default key="controller">IssuesController</default>
    <default key="action">onIssueComments</default>
  </route>

  <route id="issues" pattern="/{nickname}/{repository_name}/issues">
    <default key="controller">IssuesController</default>
    <default key="action">onDefault</default>
  </route>

  <route id="" pattern="/{user}/{repository}/issues/admin">
    <default key="controller">IssuesController</default>
    <default key="action">onAdmin</default>
  </route>

  <route id="" pattern="/{user}/{repository}/issues/update">
    <default key="controller">IssuesController</default>
    <default key="action">onUpdate</default>
  </route>

  <route id="" pattern="/{user}/{repository}/issues/new">
    <default key="controller">IssuesController</default>
    <default key="action">onNew</default>

  </route>

  <route id="" pattern="/{user}/{repository}/issues/edit/{id,digit}">
    <default key="controller">IssuesController</default>
    <default key="action">onEdit</default>
  </route>

  <route id="" pattern="/{user}/{repository}/issues/edit/{id,digit}/{offset,digit}">
    <default key="controller">IssuesController</default>
    <default key="action">onEditComment</default>
  </route>

  
  <route id="show_issue" pattern="/{user}/{repository}/issues/{id,digit}">
    <default key="controller">IssuesController</default>
    <default key="action">onIssue</default>
  </route>

  <route id="" pattern="/{user}/{repository}/issues/{id,digit}/vote">
    <default key="controller">IssuesController</default>
    <default key="action">onVote</default>
  </route>

  <route id="" pattern="/{user}/{repository}/issues/{id,digit}/{offset,digit}/vote">
    <default key="controller">IssuesController</default>
    <default key="action">onVoteComment</default>
  </route>

  <route id="" pattern="/{user}/{repository}/issues/{id,digit}/unvote">
    <default key="controller">IssuesController</default>
    <default key="action">onUnvote</default>
  </route>

  <route id="" pattern="/{user}/{repository}/issues/{id,digit}/{offset,digit}/unvote">
    <default key="controller">IssuesController</default>
    <default key="action">onUnvoteComment</default>
  </route>

<!--  /issues -->

<!--  pull requests -->
  <route id="" pattern="/{user}/{repository}/pull/new">
    <default key="controller">PullRequestController</default>
    <default key="action">onNew</default>
  </route>
  <route id="" pattern="/{user}/{repository}/pull/new/{ref}">
    <default key="controller">PullRequestController</default>
    <default key="action">onNew</default>
  </route>

  <route id="pull.show" pattern="/{user}/{repository}/pull/{id,digit}">
    <default key="controller">PullRequestController</default>
    <default key="action">onPullRequest</default>
  </route>

  <route id="" pattern="/{user}/{repository}/pull/{id,digit}/files">
    <default key="controller">PullRequestController</default>
    <default key="action">onFiles</default>
  </route>

  <route id="" pattern="/{user}/{repository}/pull/{id,digit}/close">
    <default key="controller">PullRequestController</default>
    <default key="action">onClose</default>
  </route>
<!--  /pull requests -->

  <route id="" pattern="/{user}/{repository}/watch">
    <default key="controller">RepositoriesController</default>
    <default key="action">onWatch</default>
  </route>
  
  <route id="" pattern="/{user}/{repository}/zipball/{tag}">
    <default key="controller">RepositoriesController</default>
    <default key="action">onZipBall</default>
  </route>

  <route id="logout" pattern="/logout">
    <default key="controller">RootController</default>
    <default key="action">onLogout</default>
  </route>
  
  <route id="" pattern="/session">
    <default key="controller">RootController</default>
    <default key="action">onSession</default>
  </route>

  <route id="facebook.connect" pattern="/connect">
    <default key="controller">RootController</default>
    <default key="action">onConnect</default>
  </route>


  <route id="about" pattern="/about">
    <default key="controller">RootController</default>
    <default key="action">onAbout</default>
  </route>
  
  <route id="account_setting" pattern="/account">
    <default key="controller">RootController</default>
    <default key="action">onAccount</default>
  </route>

  <route id="" pattern="/organizations/{organization,vars}">
    <default key="controller">OrganizationsController</default>
    <default key="action">onDefault</default>
  </route>
  
  <route id="" pattern="/organizations/{organization,vars}/repositories/new">
    <default key="controller">OrganizationsController</default>
    <default key="action">onNew</default>
  </route>
  
  <route id="" pattern="/account/organizations/{action,alpha,camel,prepend(on)}">
    <default key="controller">AccountController</default>
    <default key="action">onDefault</default>
  </route>
  
  <route id="" pattern="/account/{action,alpha,camel,prepend(on)}">
    <default key="controller">AccountController</default>
    <default key="action">onDefault</default>
  </route>
  
<!--  repository admin -->
  <route id="repository.admin" pattern="/{nickname}/{repository}/admin">
    <default key="controller">AdminController</default>
    <default key="action">onDefault</default>
  </route>
 
  <route id="delete_repository" pattern="/{nickname}/{repository_name}/admin/delete">
    <default key="controller">AdminController</default>
    <default key="action">onDelete</default>
  </route>
  
  <route id="update_repository" pattern="/{nickname}/{repository}/admin/update">
    <default key="controller">AdminController</default>
    <default key="action">onUpdate</default>
  </route>
<!--  /repository admin -->

<!--  repository -->
  <route id="" pattern="/repositories/">
    <default key="controller">RepositoriesController</default>
    <default key="action">onDefault</default>
  </route>

  <route id="" pattern="/repositories/new">
    <default key="controller">RepositoriesController</default>
    <default key="action">onNew</default>
  </route>

  <route id="" pattern="/{user}/{repository}/tags">
    <default key="controller">RepositoriesController</default>
    <default key="action">onTags</default>
  </route>
  <route id="" pattern="/{user}/{repository}/branches">
    <default key="controller">RepositoriesController</default>
    <default key="action">onBranches</default>
  </route>
  <route id="" pattern="/{user}/{repository}/commits/{refs}/{path,greed}">
    <default key="controller">RepositoriesController</default>
    <default key="action">onCommitsHisotry</default>
  </route>
  <route id="" pattern="/{user}/{repository}/commits/{refs}">
    <default key="controller">RepositoriesController</default>
    <default key="action">onCommits</default>
  </route>
  <route id="" pattern="/{user}/{repository}/commit/{commit}">
    <default key="controller">RepositoriesController</default>
    <default key="action">onCommit</default>
  </route>

  <route id="" pattern="/{user}/{repository}/blame/{refs}/{path,greed}">
    <default key="controller">RepositoriesController</default>
    <default key="action">onBlame</default>
  </route>
  <route id="" pattern="/{user}/{repository}/raw/{refs}/{path,greed}">
    <default key="controller">RepositoriesController</default>
    <default key="action">onRaw</default>
  </route>

  <route id="" pattern="/{user}/{repository}/blob/{refs}/{path,greed}">
    <default key="controller">RepositoriesController</default>
    <default key="action">onBlob</default>
  </route>

  <route id="" pattern="/{user}/{repository}/tree/{refs}/">
    <default key="controller">RepositoriesController</default>
    <default key="action">onTree</default>
  </route>
  
  <route id="" pattern="/{user}/{repository}/tree/{refs}/{path,greed}">
    <default key="controller">RepositoriesController</default>
    <default key="action">onTree</default>
  </route>

  <route id="repositories.top" pattern="/{user}/{repository}">
    <default key="controller">RepositoriesController</default>
    <default key="action">onTop</default>
  </route>  
<!-- /repository -->

<!--  misc  -->  
  <route id="top" pattern="/">
    <default key="controller">RootController</default>
    <default key="action">onDefault</default>
  </route>

  <route id="show_user" pattern="/{user,vars}">
    <default key="controller">RootController</default>
    <default key="action">onUser</default>
  </route>
<!-- /misc -->

</routes>