  <div>

  {% if path %}  
  <div style="text-align:right">
  <span class="span1 btn secondary"><a href="/{{owner.getNickname()}}/{{repository.getName()}}/blame/master/{{path}}">blame</a></span>
  <span class="span1 btn secondary"><a href="/{{owner.getNickname()}}/{{repository.getName()}}/commits/master/{{path}}">history</a></span>
  </div>
  {% endif %}

  {% if path_parts %}
  <ul class="breadcrumb">
  <li><img src="/assets/txt.png" /></li>
  {% for key, parts in path_parts %}
  <li>{% if loop.last %}{{key}}{% else %}<a href="/{{owner.getNickname()}}/{{repository.getName()}}/tree/{{refs}}/{{parts}}" data-pjax="#main">{{key}}</a>{% endif %}{% if not loop.last %}<span class="divider">/</span>{% endif %}
  {% endfor %}
  </ul>
  {% endif %}
  
  {% if img %}
  <div><img src="/{{owner.getNickname()}}/{{repository.getName()}}/raw/{{refs}}/{{path}}"></div>
  {% elseif lines %}
  <div class="highlight" style="white-space:nowrap;font-family:'Bitstream Vera Sans Mono','Courier',monospace;overflow:auto;">
  <table class="lines">
  <td>
  <pre>{% for line in lines %}<span class="numbers">{{loop.index}}</span>
{% endfor %}</pre>
  </td>
  <td>{{data|raw}}</td>
  </table>
  </div>
  {% elseif data %}
  <div>{{data|raw}}</div>
  {% endif %}
  </div>
