{% extends "template.htm" %}
{% block contents %}

  {% include "_tab.htm" %}

  {% if commits %}
  
  {% for commit in commits %}
  <div style="margin-bottom:1em;;border:1px solid #C5D5DD;-webkit-border-radius:5px;-moz-border-radius:5px;">
  	<div style="padding:0.5em;background-color:#E4F1F6;border-bottom:1px solid #C5D5DD;">{{commit.getAuthor().time.format('Y-m-d h:i:s')}}</div>
  	<div style="padding:0.5em" class="row">
  		<span class="span1"><img src="http://www.gravatar.com/avatar/{{commit.getAuthor().email|md5}}?s=30" /></span>
  		<span class="span10"><a href="/{{owner.getNickName()}}/{{repository.getName()}}/commit/{{commit.getId()}}">{{commit.getMessage()|truncate(70)}}</a></span>
  	</div>
  </div>
  {% endfor %}
  {% endif %}
{% endblock %}