{% extends "template.htm" %}
 {% block contents %}
  <form action="/repositories/" method="POST">
  <div>Project Name<input type="text" value="" name="project_name" /></div>
  <div>Description(optional)<input type="text" value="" name="description" /></div>
  <div>Homepage Url(optional)<input type="text" value="" name="homepage_url" /></div>

  <p>Who has access to this repository? (You can change this later)</p>
  <div>
    <label><input type="radio" value="0" name="visibility" checked="checked" />Anyone</label>
    <label><input type="radio" value="1" name="visibility" />Only the people I specify</label>
  </div>
  <div>
    <input type="submit" value="Create repository" />
  </div>
  </form>
{% endblock %}