{% extends "template.htm"%}
{% block contents %}   
  {% include "_tab.htm" %}
  
  <div>{{repository.getDescription()}}</div>

  <script type="text/javascript">
  	$(document).ready(function(){
  		$('#clone_http').click(function(e){
  			$('#clone_url').val("http://githq.org/{{owner.getNickname()}}/{{repository.getName()}}.git");
  		});
  		$('#clone_ssh').click(function(e){
  			$('#clone_url').val("git@githq.org:{{owner.getNickname()}}/{{repository.getName()}}.git");
  		});

  	});
  </script>

  <div>
  	{% if user%}
  	<span class="btn secondary" id="clone_ssh">ssh</span>
  	{% endif %}
  	<span class="btn secondary" id="clone_http">HTTP</span>
  	<input type="text" value="{% if user %}git@githq.org:{{owner.getNickname()}}/{{repository.getName()}}.git{% else %}http://githq.org/{{owner.getNickname()}}/{{repository.getName()}}.git{% endif%}" style="width:20em;" id="clone_url"/>
  	<span>Readonly</span>
  </div>
  
  {% if commit %}
  
  <div class="commit">
    <p>{{commit.getMessage()}}</p>
    <div>
    <img src="https://secure.gravatar.com/avatar/{{commit.getAuthor().email|md5}}?s=20">{{commit.getAuthor().name}}<br />
    {{commit.getAuthor().time.format('Y-m-d H:i:s')}}</div>
  </div>

  <div id="main">
	  {% if tree %}
	  {% include "_tree.htm" %}
	  {% endif %}
	
	  {% if data %}
	  {% include "_blob.htm" %}
	  {% endif %}
  </div>
  
  {% else %}
  {% if user %}
<h3>Global setup:Set up git</h3>
<pre>
  git config --global user.name "{{user.getNickname()}}"
  git config --global user.email {{user.getEmail()}}
</pre>      
<h3>Next steps:</h3>
<pre>
  mkdir {{repository.getName()}}
  cd {{repository.getName()}}
  git init
  touch README
  git add README
  git commit -m 'first commit'
  git remote add origin git@githq.org:{{owner.getNickname()}}/{{repository.getName()}}.git
  git push -u origin master
</pre>
      
<h3>Existing Git Repo?  cd existing_git_repo</h3>
<pre>
  git remote add origin git@githq.org:{{owner.getNickname()}}/{{repository.getName()}}.git
  git push -u origin master
</pre>
{% else %}
nothing.
{% endif %}
  {% endif %}

 {% endblock %}