{% extends "template.htm" %}
{% block contents %}
  <p>sign up for GitHq</p>
  
  <form method="POST" action="/users/" class="form-stacked">
  <fieldset>
    <div class="clearfix">
    <label for="username">Username</label>
    </div>
    <div class="input">
    <input type="text" name="username" class="xlarge span8" />
    </div>

    <div class="clearfix">
    <label for="email">Email</label>
    </div>
    <div class="input">
    <input type="text" name="email" class="xlarge span8" />
    </div>

    <div class="clearfix">
    <label for="password">Password</label>
    </div>
    <div class="input">
    <input type="password" name="password" class="xlarge span8" />
    </div>

    <div class="clearfix">
    <label for="confirm_password">Confirm Password</label>
    </div>
    <div class="input">
    <input type="password" name="password_confirm" class="xlarge span8" />
    </div>

	<div class="actions">
		<button type="submit">create an account</button>
	</div>
  </fieldset>
  </form>
{% endblock %}
