{% extends "template.htm" %}
{% block contents %}

<h1>Settings</h1>
<form method="POST" action="/{{owner.getNickname()}}/{{repository.getName()}}/admin/update" class="form-stacked">
<fieldset>
<div class="clearfix">
	<label for="name">Repository Name</label>
	<div class="input">
		<input type="text" value="{{repository.getName()}}" name="name" />
	</div>
</div>
<div class="clearfix">
	<label for="visibility">Visibility</label>
	<div class="input">
		<input type="radio" name="visibility" value="0" {% if repository.isPublic() %}checked{% endif %} />Public
		<input type="radio" name="visibility" value="1" {% if repository.isPrivate() %}checked{% endif %} />Private
	</div>
</div>
<div class="clearfix">
	<label for="name">Default Branch</label>
	<div class="input">
		<input type="text" value="{{repository.getDefaultBranch()}}" name="default_branch" />
	</div>
</div>

<div class="actions">
	<button type="submit" name="update" class="btn primary" />update repository</button>
</div>
</fieldset>
</form>


<h1>Features</h1>
<form method="POST" action="/{{owner.getNickname()}}/{{repository.getName()}}/admin/update" class="form-stacked">
<fieldset>
<div class="clearfix">
	<label for="visibility">Issue</label>
	<div class="input">
		<input type="radio" name="issue" value="1" {% if repository.isIssueEnabled() %}checked{% endif %} />Enabled
		<input type="radio" name="issue" value="0" {% if not repository.isIssueEnabled() %}checked{% endif %} />Disabled
	</div>
</div>

<div class="actions">
	<button type="submit" name="features" class="btn primary" />update features</button>
</div>
</fieldset>
</form>


<h1>Delete this repository</h1>
<form method="POST" action="/{{owner.getNickname()}}/{{repository.getName()}}/admin/delete" class="form-stacked">
<fieldset>
<p>Once you delete a repository, there is no going back.</p>
<div class="actions">
<button type="submit" value="delete this repository" name="delete" class="btn secondary"/>i agree delete this repository</button>
</div>
</fieldset>
</form>
{% endblock %}