{% extends "template.htm" %}
{% block contents %}

  <ul class="tabs">
    <li><a href="#">Files</a></li>
    <li><a href="/{{owner.getNickname()}}/{{repository.getName()}}/commits/master">Commits</a></li>
    <li><a href="#">Branches</a></li>
    <li><a href="/{{owner.getNickname()}}/{{repository.getName()}}/tags">Tags</a></li>
    <li class="active"><a href="/{{owner.getNickname()}}/{{repository.getName()}}/issues">Issues ({{issue_count}})</a></li>
  </ul>


  {% if user %}
  <p><a href="/{{owner.getNickname()}}/{{repository.getName()}}/issues/new" class="btn primary">create new issue</a></p>
  {% endif %}
 
  <div class="container-fluid">
  <div class="sidebar">
  	<div class="well">

  <h3>Milestones</h3>
 	  {% for milestone in repository.getMilestones() %}
 		<a href="/{{owner.getNickname()}}/{{repository.getName()}}/issues?milestone={{milestone.getName()|url_encode}}" class="label">{{milestone.getName()}}</a>
 		{% endfor %}
  
  	<h3>Labels</h3>
  	{% for label in repository.getLabels() %}
	  <a href="/{{owner.getNickname()}}/{{repository.getName()}}/issues?label={{label.getName()}}" class="label">{{label.getName()}}</a>
  	{% endfor %}
  	</div>
  </div><!--  /sidebar -->
  

	<div class="content">
	<div class="hero-unit">
 {% set labels = repository.getLabels() %}
  {% for issue in issues %}
  <div style="border:1px solid #7f7f7f;border-radius:5px;margin-bottom:1em;padding:0.5em;background:#FFF;">
  
    <div>{% if issue.hasMilestone()%}<span class="label">{{repository.getMilestones().getMilestoneById(issue.getMilestoneId())}}</span>{% endif %}
    <a href="{{ path('show_issue', {
    	'user': owner.getNickname(),
    	'repository': repository.getName(),
    	'id': issue.getId }
    ) }}">#{{issue.getId()}} {{issue.getTitle()}}</a>
    
    {% if issue.hasLabel() %}
    {% for label_id in issue.getLabelIds() %}
    	<span class="label">{{labels.getLabelById(label_id).getName()}}</span>
    {% endfor %}
    {% endif %}
    
    
    </div>
    <div>by <a href="/{{issue.getAuthor().getNickname()}}">{{issue.getAuthor().getNickname()}}</a> {{issue.getRegisteredAt()}}</div>
  </div>
  {% endfor %}
  </div>
  </div>
  </div>
{% endblock %}