{% extends "template.htm" %}
{% block contents %}

  {% include "_tab.htm" %}


  <div class="row">
    <div class="span13">
	  <div class="row">
    	<div class="span1">
      	<img src="{{issue.getAuthor().getImageUrl()}}" height="40"/>
    	</div>
    	<div class="span12">
	    	<div class="issue_container">
	    	<div><a href="{{ path('show_user', {'user': issue.getAuthor().getNickname() }) }}">{{issue.getAuthor().getNickname()}}</a> opened this issue at {{issue.getRegisteredAt()}}</div>
	    	
		    <div><h2>{{issue.getTitle()}}</h2></div>
		    {% if not issue.isAssigned() %}
		    <div style="background:#999;">no one assigned yet</div>
		    {% else %}
		    <div style="background:#999;">assigned to <a href="/{{issue.getAssignee().getNickname()}}">{{issue.getAssignee().getNickname()}}</a></div>
		    {% endif %}
		    
		    {% if issue.hasMilestone() %}
		    Milestone: {{repository.getMilestones().getMilestoneById(issue.getMilestoneId())}}
		    {% endif %}
		    {% if user.getNickname() == owner.getNickname() %}
		    <div style="text-align:right"><span class="btn secondary"><a href="/{{owner.getNickname()}}/{{repository.getName()}}/issues/edit/{{issue.getId()}}">EDIT</a></span></div>
		    {% endif %}
		    
		    {% if issue.hasLabel() %}
		    {% set labels = repository.getLabels() %}
		    <div>Labels: 
		    {% for item in issue.getLabelIds() %}
		    {% if user == owner %}
		    	<form method="POST" action="/{{owner.getNickname()}}/{{repository.getName()}}/issues/update">[{{labels.getLabelById(item).getName()}} 
		    	<input type="hidden" name="label" value="{{item}}" />
		    	<input type="hidden" name="id" value="{{issue.getId()}}" />
		    	<input type="submit" value="x" name="label_delete" />]</form>
		    {% else %}
			[{{labels.getLabelById(item).getName()}}]
		    {% endif %}
		    {% endfor %}
		    </div>
		    {% endif %}
		    
		    <div>{{issue.getBodyAsMd()|default('no descrpition')|raw}}</div>
		    </div>
    </div><!-- /span12 -->
    </div><!-- /row -->
	  {% if issue.getComments() %}
	  {% for item in issue.getComments() %}
	  <div class="row" style="margin-top:1em;">
	    <div class="span1">
	      <img src="{{item.getCommenter().getImageUrl()}}" height="40"/>
	    </div>
	    <div class="span12">
	      <div class="issue_container">
	      <div ><a href="{{ path('show_user', {'user': item.getCommenter().getNickname()}) }}">{{item.getCommenter().getNickname()}}</a> commented {{item.getRegisteredAt()}}</div>
	      <div style="margin-left:2em;">{{item.getCommentAsMd()|raw}}</div>
	      </div> 
	    </div>
	  </div>
	  {% endfor %}
	  {% endif %}

    </div>

    
    <div class="span3">
    <div class="well">
    	<h3>Label</h3>
    	<ul class="unstyled">
    	{% set labels = repository.getLabels()%}
    	{% for label in labels %}
    		<li><span class="btn secondary small span2 center">{{label.getName()}}</span></li>
        {% endfor %}
    	</ul>
    </div>
    </div>
  </div><!-- /row -->

 
  {% if user %}
  <div>
  <div>Comment on this issue</div>
  <form method="POST" action="/{{owner.getNickname()}}/{{repository.getName()}}/issue_comments">
    <div><textarea name="comment" style="width:800px; height:10em;"></textarea></div>
    <div>label: <input type="text" name="label" value="" /></div>
    <input type="hidden" name="issue" value="{{issue.getId()}}" />
    <div>assigned_to : <input type="text" name="assign" value="" /></div>
    <input type="submit" value="comment on this issue" class="btn primary"/>
  	<input type="submit" value="close this issue" name="close"  class="btn primary"/>
  	<input type="submit" value="re-open this issue" name="open" class="btn secondary"/>
  </form>
  </div>
  {% endif %}
{% endblock %}