{% extends "template.htm" %}
{% block contents %}
  <div>
    <div>{{issue.getAuthor().getNickname()}} opened this issue at {{issue.getRegisteredAt()}}</div>
    	<div class="issue_container">
	    <div><h3>{{issue.getTitle()}}</h3></div>
	    
	    {% if user.getNickname() == owner.getNickname() %}
	    <div style="text-align:right"><a href="/{{owner.getNickname()}}/{{repository.getName()}}/issues/edit/{{issue.getId()}}">EDIT</a></div>
	    {% endif %}
	    
	    {% if issue.hasLabel() %}
	    <div>Labels: 
	    {% for item in issue.getLabels() %}
	    	<form method="POST" action="/{{owner.getNickname()}}/{{repository.getName()}}/issues/update">[{{item}} 
	    	<input type="hidden" name="label" value="{{item}}" />
	    	<input type="hidden" name="id" value="{{issue.getId()}}" />
	    	<input type="submit" value="x" name="label_delete" />]</form>
	    {% endfor %}
	    </div>
	    {% endif %}
	    
	    <div>{{issue.getBodyAsMd()|raw}}</div>
	    </div>
  </div>
  
  {% if issue.getComments() %}
  {% for item in issue.getComments() %}
  <div><a href="/{{item.getCommenter().getNickname()}}">{{item.getCommenter().getNickname()}}</a> commented {{item.getRegisteredAt()}}</div>
  <div style="margin-left:2em;">{{item.getCommentAsMd()|raw}}</div>
  {% endfor %}
  {% endif %}
 
 
  {% if user %}
  <div>
  <div>Comment on this issue</div>
  <form method="POST" action="/{{owner.getNickname()}}/{{repository.getName()}}/issue_comments">
    <div><textarea name="comment" style="width:800px; height:10em;"></textarea></div>
    <div>label: <input type="text" name="label" value="" /></div>
    <input type="hidden" name="issue" value="{{issue.getId()}}" />
    <input type="submit" value="comment on this issue" />
  	<input type="submit" value="close this issue" name="close" />
  	<input type="submit" value="re-open this issue" name="open" />
  </form>
  </div>
  {% endif %}
{% endblock %}