<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>GitHQ - Social Coding</title>
    <link rel="stylesheet" href="/assets/pygments.css" />
  </head>
  <body style="margin-left:4em;">

  {% if user %}
  <div style="text-align:right">
  {{user.getNickname()}} |
  <a href="/account">Account Settings</a> |
  <a href="/logout">logout</a> |
  </div>
  {% endif %}
  

  <h1><a href="/">GitHQ</a></h1>

  {% if owner %}
  <h2>{{owner.getNickname()}}/{{repository.getName()}}</h2>
  {% if repository.hasOrigin() %}
    <div>forked from <a href="/{{repository.getOriginUser().getNickname()}}/{{repository.getName()}}">{{repository.getOriginUser().getNickname()}}/{{repository.getName()}}</a></div>
  {% endif %}
  {% endif %}


  <div>
    <div>{{issue.getAuthor().getNickname()}} opened this issue at {{issue.getRegisteredAt()}}</div>
    <div><h3>{{issue.getTitle()}}</h3></div>
    <div>Body: <pre>{{issue.getBody()}}</pre></div>
  </div>
  
  {% if issue.getComments() %}
  {% for item in issue.getComments() %}
  <div><a href="/{{item.getCommenter().getNickname()}}">{{item.getCommenter().getNickname()}}</a> commented {{item.getRegisteredAt()}}</div>
  <div style="margin-left:2em;">{{item.getComment()}}</div>
  {% endfor %}
  {% endif %}
 
 
  {% if user %}
  <div>
  <div>Comment on this issue</div>
  <form method="POST" action="/{{owner.getNickname()}}/{{repository.getName()}}/issue_comments">
    <textarea name="comment"></textarea>
    <input type="hidden" name="issue" value="{{issue.getId()}}" />
    <input type="submit" value="comment on this issue" />
  </form>
  </div>
  {% endif %}
  <hr />
  <div>
    <div>GitHQ - Yet Another Social Coding for you - </div>
    <div>&copy;2011 Shuhei Tanuma all rights reserved.</div>
  </div>
  </body>
</html>