{% extends "template.htm" %}
{% block contents %}
  <form method="POST" action="/{{owner.getNickname()}}/{{repository.getName()}}/issues/new" class="form-stacked">
  <input type="hidden" name="repository_owner" value="{{owner.getKey()}}" />
  <input type="hidden" name="repository_name" value="{{repository.getName()}}" />
  <fieldset>
  <div class="clearfix">
	<label for="title">Title</label>
	<div class="input">
  		<input type="text" value="" name="title" class="xlarge span10"/>
  	</div>
  </div>
  <div class="clearfix">
  	<label for="contents">Contents</label>
  	<textarea name="contents" class="xlarge span10" style="height:20em;"></textarea>
  </div>
  
    <div class="actions">
    <button type="submit" class="btn primary">submit a issue</button>
    </div>
  </fieldset>
  </form>
{% endblock %}
