{% extends "template.htm" %}
{% block contents %}
  <form method="POST" action="/{{owner.getNickname()}}/{{repository.getName()}}/issues/new">
    <div>Title<input type="text" value="" name="title" /></div>
    <input type="hidden" name="repository_owner" value="{{owner.getKey()}}" />
    <input type="hidden" name="repository_name" value="{{repository.getName()}}" />
    <div>Contents:</div>
    <div><textarea name="contents"></textarea></div>
    <input type="submit" value="submit a issue" />
  </form>
{% endblock %}
