  <table class="zebra-striped">
  	<tr>
  		<th>name</th><th>age</th><th>message</th>
  	</tr>
  	{% if parent_dir %}
  	<tr>
	<td><img src="/assets/dir.png" /><a href="/{{owner.getNickname()}}/{{repository.getName()}}/tree/{{refs|default(repository.getDefaultBranch())}}/{{parent_dir}}" data-pjax="#main">..</a></td>
	<td></td>
	<td></td>
	</tr>
	{% endif %}
	{% for entry in tree %}
	<tr>
	{% if entry.isSubmodule() %}
	<td><img src="/assets/submodule.png" />{{entry.name}}</td>
	<td>{{latests[entry.name].getAuthor().time.format('Y-m-d H:i:s')}}</td>
	<td>{{latests[entry.name].getMessage()|truncate(70)}}</td>
	{% elseif entry.isTree() %}
	<td><img src="/assets/dir.png" /><a href="/{{owner.getNickname()}}/{{repository.getName()}}/tree/{{refs|default(repository.getDefaultBranch())}}/{{current_path}}{{entry.name}}" data-pjax="#main">{{entry.name}}</a></td>
	<td>{{latests[entry.name].getAuthor().time.format('Y-m-d H:i:s')}}</td>
	<td>{{latests[entry.name].getMessage()|truncate(70)}}</td>
	{% elseif entry.isBlob() %}
	<td><img src="/assets/txt.png" /><a href="/{{owner.getNickname()}}/{{repository.getName()}}/blob/{{refs|default(repository.getDefaultBranch())}}/{{current_path}}{{entry.name}}" data-pjax="#main">{{entry.name}}</a></td>
	<td>{{latests[entry.name].getAuthor().time.format('Y-m-d H:i:s')}}</td>
	<td>{{latests[entry.name].getMessage()|truncate(70)}}</td>
	{% endif %}
	</tr>
	{% endfor %}
  </table>
