{% extends "template.htm" %}
{% block contents%}

<h1>githq purpose</h1>

<p>githq was started by <a href="/chobie">Shuhei Tanuma</a> as a project to check php-git and php-sundown implementation.
</p>

<h2>Members</h2>

<table>
<tr>
<td>
<img src="/assets/chobie.jpg" />
<div><a href="/chobie">Shuhei Tanuma</a> (Developer)</div>
</td>
</tr>
</table>

<h3>why githq?</h3>
<p>Almost Japanese don't use ~HQ so i felt it very cool in those days. i don't like named something so actually githq name does not have any means.</p>

<h3>Basic Architectures</h3>
<ul>
<li>php5</li>
<li>libgit2</li>
<li>sundown</li>
<li>Redis</li>
<li>Memcached</li>
<li>apache2</li>
<li>nginx</li>
<li>haproxy</li>
<li>twitter bootstrap</li>
<li>mac mini</li>
</ul>
<h3>Exemption Clause</h3>
<p>* githq are running on home server right now. so sometimes it might down by our home reason.</p> 
<p>* githq correcting your email addresses for identify you by githq services. githq don't use your email address for other reason.</p>
<p>* about private repository: private repositories stores on our home server with non-encrypted. actually it's not safe than other service. <b>please don't push any git-repo which has confidencial information.</b></p>
<p>* githq may disclose personally information under special circumstances</p>
<p>* githq may periodically update this exemption clause.</p>    
{% endblock %}