{% extends "template.htm" %}
{% block contents%}

<h1>githq purpose</h1>

<p>githq was started by <a href="/chobie">Shuhei Tanuma</a> as a project to check php-git and php-sundown implementation.
</p>

<h2>Members</h2>

<table>
<tr>
<td>
<img src="/assets/chobie.jpg" />
<div><a href="/chobie">Shuhei Tanuma</a> (Developer)</div>
</td>
</tr>
</table>

<h3>why githq?</h3>
<p>Almost Japanese don't use blah~HQ so i felt it very cool in those days...</p>

<h3>Basic Architectures</h3>
<ul>
<li>php5</li>
<li>libgit2</li>
<li>sundown</li>
<li>Redis</li>
<li>Memcached</li>
<li>haproxy</li>
<li>mac mini</li>
</ul>

{% endblock %}