{% extends "template.htm" %}
{% block contents %}
  <form action="/account" method="POST">
  <div>Name<input type="text" value="{{profile.getName()}}" name="name"/></div>
  <div>Email<input type="text" value="{{profile.getEmail()}}" name="email" /></div>
  <div>Website Blog<input type="text" value="{{profile.getHomepage()}}" name="homepage" /></div>
  <div>Company<input type="text" value="{{profile.getCompany()}}" name="company" /></div>
  <div>Location<input type="text" value="{{profile.getLocation()}}" name="location" /></div>
 
  <input type="submit" value="Update account information" />
  </form>
{% endblock %}