{% extends "template.htm" %}
{% block contents %}

<div>
  <span class="span4 btn secondary"><a href="/account/organizations">Organizations</a></span>
</div>

  <form action="/account" method="POST" class="form-stacked">
  	<fieldset>
    <legend>Account Information</legend>
    <div class="clearfix">
    	<label for="email">Account Email</label>
    	<div class="input">
    		<input type="text" name="email" id="email" value="{{user.getEmail()}}" class="xlarge" />
    	</div>
    </div><!-- /clearfix -->
    <div class="clearfix">
    <div class="actions">
    	  <button type="submit" name="account" class="btn primary"/>Update account information</button>
    </div>
    </div><!-- /clearfix -->
    </fieldset>
  </form>
  
  <h3>Public Profile</h3>
  <form action="/account" method="POST" class="form-stacked">
  <fieldset>
  <table>
  <tr>
  <td>Name</td>
  <td><input type="text" value="{{profile.getName()}}" name="name"/></td>
  </tr>
  <tr>
  <td>Public Email</td><td><input type="text" value="{{profile.getEmail()}}" name="email" /></td>
  </tr>
  <tr>
  <td>Website / Blog</td>
  <td>
  <input type="text" value="{{profile.getHomepage()}}" name="homepage" />
  </td>
  </tr>
  <tr>
	<td>Company</td>
	<td><input type="text" value="{{profile.getCompany()}}" name="company" /></td>
  </tr>
  <tr>
  	<td>Location</td>
  	<td><input type="text" value="{{profile.getLocation()}}" name="location" /></td>
  </tr>
  </table>
  <div class="actions">
  	<button type="submit" class="btn primary">Update profile information</button>
  </div>
  </fieldset>
  </form>
  
  <h3>SSH Public Key</h3>
  {% if user.getPublicKeys() %}
	  {% for item in user.getPublicKeys() %}
	  <form method="POST" action="/account" class="form-stacked">
	  <filedset>
	  <input type="hidden" name="offset" value="{{loop.index0}}" />
	  <table>
	  <tr>
	  <td>Title</td><td><div><input type="text" name="title" value="{{item.getTitle()}}" /></div></td>
	  </tr>
	  <tr>
	  <td>Key</td><td><textarea name="key" style="width:1024px;">{{item}}</textarea></td>
	  </tr>
	  </table>
	  <div class="clearfix">
	  <div class="actions">
		<button type="submit" name="public_key" class="btn primary" />Update ssh public key</button> 
		<button type="submit" name="del_public_key" class="btn secondary" />delete this ssh public key</button> 
	  </div>
	  </div>
	  </fieldset>
	  </form>
	  {% endfor %}
  {% else %}
	  <form method="POST" action="/account" class="form-stacked">
	  <fieldset>
	  <table>
	  <tr>
	  <td>Title</td><td><div><input type="text" name="title" value="" /></div></td>
	  </tr>
	  <tr>
	  <td>Key</td><td><textarea name="key" style="width:1024px;"></textarea></td>
	  </tr>
	  </table>
	  <div class="clearfix">
	  <div class="actions">
		<button type="submit" name="public_key" class="btn primary" />Update ssh public key</button> 
		<button type="submit" name="del_public_key" class="btn secondary" />delete this ssh public key</button> 
	  </div>
	  </div>
	  </fieldset>
	  </form>   
  {% endif %}
{% endblock %}