{% extends "template.htm" %}
{% block contents %}

	<div style="background-color:#E6F1F6;width:1024px;">
		<div><h2>{{commit.getMessage()}}</h2></div>
		<div>{{commit.getAuthor().name}} {{commit.getAuthor().time.format('Y-m-d H:i:s')}}</div>
	</div>
	
	{% set parent = commit.getParent() %}
	{% if parent %}
	parent <a href="/{{owner.getNickname()}}/{{repository.getName()}}/commit/{{parent.getId()}}">{{parent.getId()}}</a>
	{% endif %}

	{% if diff %}
	{% for file in diff.getFiles() %}
	
	<table border='1' style="max-width:1024px;min-width:1024px;">
		<tr>
		<th style="text-align:left;">{{file.getName()}}</th>
		</tr>
		{% for hunk in file.getHunks() %}
		<tr>
		<td>
		<div>{{hunk.getSummary()}}</div>
		<div style="width:1024px;overflow:auto;white-space:nowrap;font-family:'Bitstream Vera Sans Mono','Courier',monospace;">
		
			{% set lines = hunk.getLines() %}
			{%for line in lines %}
			{%if line.isRemoved() %}
			  {% if lines.hasNext() %}
			  	{% set next = lines.getNext() %}
			  	{% if next.isAdded() %}
			  		{% set diff = line.diff(next) %}
					<div style="background-color:#FFDDDD;">{{diff.prefix}}<span style="background-color:#FFA9AA">{{diff.unique}}</span>{{diff.suffix}}</div>
				{% else %}
					<div style="background-color:#FFDDDD">{{line.getLine()}}</div>
			  	{% endif %}
			  {% else %}
					<div style="background-color:#FFDDDD">{{line.getLine()}}</div>
			  {% endif %}
			{% elseif line.isAdded() %}
			  {% if lines.hasPrevious() %}
			  	{% set previous = lines.getPrevious() %}
			  	{% if previous.isRemoved() %}
			  		{% set diff = line.diff(previous) %}
					<div style="background-color:#D7FFDF">{{diff.prefix}}<span style="background-color:#97FFB1">{{diff.unique}}</span>{{diff.suffix}}</div>
				{% else %}
					<div style="background-color:#D7FFDF">{{line.getLine()}}</div>
			  	{% endif %}
			  {% else %}
					<div style="background-color:#D7FFDF">{{line.getLine()}}</div>
			  {% endif %}
			{% else %}
			<div>{{line.getLine()}}</div>
			{% endif %}
			{% endfor %}
		</div>
		</td></tr>
		{% endfor %}
		
	</table>
	{% endfor %}
	{% endif %}
{% endblock %}