{% extends "template.htm" %}
{% block contents %}
  {% if not user %}
  
  <div class="hero-unit">
  <h1>All your repositories are belong to us!</h1>
  {% if timeline %}
  <h2>githq Timeline</h2>
  <div style="overflow:auto;max-height:300px;min-height:300px;">
  {% for activity in timeline %}
  <div>{{activity.getDescription()|raw}}</div>
  {% endfor %}
  </div>
  {% endif %}
  </div><!-- /hero-unit -->
  
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=308497302504262";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  
  <div class="fbconnect"><a href="/connect"><img src="/assets/fb-connect-large.png"></a></div>
  <div class="fb-like" data-href="https://githq.org/" data-send="true" data-width="800" data-show-faces="true"></div>
  {% else %}
  <!-- Logged in -->
  <div class="container-fluid">
  	<div class="content">
	  <h2>githq Timeline</h2>
 		 {% for activity in timeline %}
  		<p>{{activity.getDescription()|raw}}</p>
  		{% endfor %}  
  	</div>

  	<div class="sidebar">
  	  	
  	<div class="well">
  	{% if organizations %}
	  <h3>Organizations</h3>

  	{% for item in organizations %}
  	<p><a href="/organizations/{{item.getNickname()}}">{{item.getNickname()}}</a></p>
  	
  	{% endfor %}
  	{% endif %}
  	
  	
  	
	  <h3>Your Repositories</h3>
	  
	  {% if user.hasRepositories() %}
	  
	  {% for repository in user.getRepositories() %}
	  <p><a href="/{{user.getNickname()}}/{{repository.getName()}}">{{user.getNickname()}}/{{repository.getName()}}</a></p>
	  {% endfor %}
	  {% endif %}
	  <p><a href="/repositories/new" class="btn primary large">create repository</a></p>

	</div>
  	</div>

  </div>
  {% endif %}
  
{% endblock %}