{% extends "template.htm" %}
{% block contents %}
  {% if not user %}
  <a href="/connect"><img src="/assets/fb-connect-large.png"></a>
  {% else %}
  
  <div>Your Repositories</div>
  
  {% if user.hasRepositories() %}
  
  {% for repository in user.getRepositories() %}
  <div><a href="/{{user.getNickname()}}/{{repository.getName()}}">{{user.getNickname()}}/{{repository.getName()}}</a></div>
  
  {% endfor %}
  
  {% endif %}
  <a href="/repositories/new">create repository</a>
  
  {% endif %}
{% endblock %}