<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="google-site-verification" content="WJJ43nDnm3gyvtuysPmHEo0RNXxMGseEa2UPlJleBFk" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=yes">
    <title>GitHQ - Social Coding</title>
    <script type="application/javascript" src="/assets/jquery-1.7.1.min.js"></script>
    <script type="application/javascript" src="/assets/jquery.pjax.js"></script>
    <script type="application/javscript" src="/assets/bootstrap-dropdown.js"></script>
    <script type="application/javscript" src="/assets/bootstrap-tabs.js"></script>
    <script>
    $(function(){
    	$('a[data-pjax]').pjax()
        $('#main')
        .bind('pjax:start', function() {
        	
        })
        .bind('pjax:end',   function() {
        })
    });
    </script>
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/pygments.css" />
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body>
  
  <div class="topbar">
  	<div class="fill">
  		<div class="container">
  		<a class="brand" href="/">githq</a>
		{% if user %}
  		<ul class="nav secondary-nav">
			<li><a href="#"><img src="{{user.getImageUrl()}}?s=20" />{{user.getNickname()}}</a></li>
			<li><a href="{{ path('account_setting') }}">Account Settings</a></li>
			<li><a href="{{ path('logout') }}">logout</a></li>
  		</ul>
		{% endif %}
  		</div>
  	</div>
  </div><!-- /topbar -->
  
  <div class="container">

  {% if owner %}
  <div class="page-header row">
  	<div class="span10">
  		<h1><a href="/{{owner.getNickname()}}">{{owner.getNickname()}}</a>/<a href="/{{owner.getNickname()}}/{{repository.getName()}}">{{repository.getName()}}</a></h1>
  		{% if repository.hasOrigin() %}
			  <div>forked from <a href="/{{repository.getOriginUser().getNickname()}}/{{repository.getName()}}">{{repository.getOriginUser().getNickname()}}/{{repository.getName()}}</a></div>
  		{% endif %}
  	</div>

    {% if owner.getKey() == user.getKey()%}
    <div class="span2"><span class="btn secondary"><a href="/{{owner.getNickname()}}/{{repository.getName()}}/admin">admin</a></span></div>
    {% endif %}
    
    {% if repository.getOrigin() %}
        <div class="span2"><span class="btn secondary"><a href="/{{owner.getNickname()}}/{{repository.getName()}}/pull/new/master">pull request</a></span></div>
    {% endif %}
	<div class="span2"><a href="/{{owner.getNickname()}}/{{repository.getName()}}/watch">Watch</a> ({{watcher|default(0)}})</div>    
    
	{% if user != owner %}

	{% if user and user.getRepository(repository.getName()) == false %}
	<div class="span2">
	<form method="POST" action="/{{user.getNickname()}}/{{repository.getName()}}">
	  <input type="hidden" name="action" value="fork" />
	  <input type="hidden" name="user" value="{{owner.getNickname()}}" />
	  <input type="hidden" name="repository" value="{{repository.getName()}}" />
	  <div class="actions">
	  	<button type="submit" class="btn secondary">fork</button>
	  </div>
	</form>
	</div>
	{% endif %}
	{% endif %}
  </div>
  {% endif %}


  {% block contents %}{% endblock %}
  <footer>
  	<div>
	  <a href="{{ path('about')}}">about</a>&nbsp;|
  	</div>
    <div>GitHQ - Yet Another Social Coding for you - </div>
    <div>&copy;2011 Shuhei Tanuma all rights reserved.</div>
  </footer>
  
  </div><!--  /container -->
  </body>
</html>