{% extends "template2.htm" %}
{% block contents %}
{% if owner.getKey() == user.getKey() %}
<div class="alert-message warning">This is you!</div>
{% endif %}

<h2>
{% if owner.isOrganization() %}
<img src="/assets/org.png" height="50"/>
{% else %}
<img src="https://graph.facebook.com/{{owner.getKey()}}/picture" />
{% endif %}
{{owner.getNickname()}}{% if owner.getProfile().getName() %} ({{owner.getProfile().getName()}}){% endif %}</h2>
{% if owner.isOrganization() %}Organization{% endif %}

<address>
<strong>Name</strong><br />
<p>{{owner.getProfile().getName()}}</p>
{% if user %}
<strong>Email</strong><br />
<p>{{owner.getProfile().getEmail()|numericentity|raw}}</p>
{% endif %}
<strong>Location</strong><br />
<p>{{owner.getProfile().getLocation()}}</p>
<strong>Company</strong>
<p>{{owner.getProfile().getCompany()}}</p>
<strong>Member Since</strong><br />
<p>{{owner.getRegisteredAt()}}</p>
</address>


<table>
<tr>
<td style="vertical-align:top">
<h2>Repositories</h2>
{% for repository in owner.getRepositories() %}
{% if repository.hasPermission(owner,user) %}
<div style="border:#DDDDDD 1px solid;border-radius:5px;margin-bottom:1em;width:420px">
<div style="padding:0.5em;"><a href="/{{owner.getNickname()}}/{{repository.getName()}}">{{repository.getName()}}</a></div>
<div style="background:#f7f7f7;">
	<div>{{repository.getDescription()}}</div>
    <div id="chart_div" style="padding-top:0.5em;"></div>
    <div style="padding-right:1em;text-align:right;font-size:8px">52 week participation</div>
</div>
</div>
{% endif %}
{% endfor %}
</td>
<td style="vertical-align:top">
<h2>Public Activity</h2>
  {% if timeline %}
  {% for activity in timeline %}
  <div>{{activity.getDescription()|raw}}</div>
  {% endfor %}
  {% endif %}

</td>
</tr>
</table>

{% endblock %}